.main-title p {
  text-align: center;
}

.main-title strong {
  color: #ffd000;
  font-weight: 600;
}

.ql-editor {
  padding: 0px !important;
  line-height: 1 !important;
  overflow: hidden !important;
}

summary::marker {
  display: none;
}

summary {
  list-style: none;
}
